.footer__inner
    .container
        .footer__items
            include ../../blocks/footer-col-first/footer-col-first.pug
            include ../../blocks/footer-col-second/footer-col-second.pug
            include ../../blocks/footer-col-third/footer-col-third.pug
            include ../../blocks/footer-col-fourth/footer-col-fourth.pug
        .footer__items
            .footer__rights 2020. All right reserved
            .footer__rights Политика конфиденциальности
