.container
    .glide(id="glide")
        .glide__track(data-glide-el="track")
            ul.glide__slides
                .slide-wrap
                    li.glide__slide
                        .sales-img
                            img(src="../img/sales/sales2.png")
                        .sales__block
                            h5.sales__title Сервелат по-татарски
                            .sales__block-text
                                p.sales__text -Говядина
                                p.sales__text -Жир говяжий
                                p.sales__text -Специи
                            .sales__info
                                p.sales__info-text 400гр
                                p.sales__info-text 300сут
                .slide-wrap 
                    li.glide__slide
                        .sales-img
                            img(src="../img/sales/sales1.png")
                        .sales__block
                            h5.sales__title Сервелат по-татарски
                            .sales__block-text
                                p.sales__text -Говядина
                                p.sales__text -Жир говяжий
                                p.sales__text -Специи
                            .sales__info
                                p.sales__info-text 400гр
                                p.sales__info-text 300сут
                .slide-wrap
                    li.glide__slide
                        .sales-img
                            img(src="../img/sales/sales2.png")
                        .sales__block
                            h5.sales__title Сервелат по-татарски
                            .sales__block-text
                                p.sales__text -Говядина
                                p.sales__text -Жир говяжий
                                p.sales__text -Специи
                            .sales__info
                                p.sales__info-text 400гр
                                p.sales__info-text 300сут
                .slide-wrap
                    li.glide__slide
                        .sales-img
                            img(src="../img/sales/sales2.png") 
                        .sales__block
                            h5.sales__title Сервелат по-татарски
                            .sales__block-text
                                p.sales__text -Говядина
                                p.sales__text -Жир говяжий
                                p.sales__text -Специи
                            .sales__info
                                p.sales__info-text 400гр
                                p.sales__info-text 300сут
                .slide-wrap
                    li.glide__slide
                        .sales-img
                            img(src="../img/sales/sales1.png")
                        .sales__block
                            h5.sales__title Сервелат по-татарски
                            .sales__block-text
                                p.sales__text -Говядина
                                p.sales__text -Жир говяжий
                                p.sales__text -Специи
                            .sales__info
                                p.sales__info-text 400гр
                                p.sales__info-text 300сут
                .slide-wrap
                    li.glide__slide
                        .sales-img
                            img(src="../img/sales/sales2.png")
                        .sales__block
                            h5.sales__title Сервелат по-татарски
                            .sales__block-text
                                p.sales__text -Говядина
                                p.sales__text -Жир говяжий
                                p.sales__text -Специи
                            .sales__info
                                p.sales__info-text 400гр
                                p.sales__info-text 300сут
                .slide-wrap
                    li.glide__slide
                        .sales-img
                            img(src="../img/sales/sales2.png")
                        .sales__block
                            h5.sales__title Сервелат по-татарски
                            .sales__block-text
                                p.sales__text -Говядина
                                p.sales__text -Жир говяжий
                                p.sales__text -Специи
                            .sales__info
                                p.sales__info-text 400гр
                                p.sales__info-text 300сут 
                .slide-wrap
                    li.glide__slide
                        .sales-img
                            img(src="../img/sales/sales2.png")
                        .sales__block
                            h5.sales__title Сервелат по-татарски
                            .sales__block-text
                                p.sales__text -Говядина
                                p.sales__text -Жир говяжий
                                p.sales__text -Специи
                            .sales__info
                                p.sales__info-text 400гр
                                p.sales__info-text 300сут
                .slide-wrap 
                    li.glide__slide
                        .sales-img
                            img(src="../img/sales/sales1.png")
                        .sales__block
                            h5.sales__title Сервелат по-татарски
                            .sales__block-text
                                p.sales__text -Говядина
                                p.sales__text -Жир говяжий
                                p.sales__text -Специи
                            .sales__info
                                p.sales__info-text 400гр
                                p.sales__info-text 300сут
                .slide-wrap
                    li.glide__slide
                        .sales-img
                            img(src="../img/sales/sales2.png")
                        .sales__block
                            h5.sales__title Сервелат по-татарски
                            .sales__block-text
                                p.sales__text -Говядина
                                p.sales__text -Жир говяжий
                                p.sales__text -Специи
                            .sales__info
                                p.sales__info-text 400гр
                                p.sales__info-text 300сут
                .slide-wrap
                    li.glide__slide
                        .sales-img
                            img(src="../img/sales/sales2.png") 
                        .sales__block
                            h5.sales__title Сервелат по-татарски
                            .sales__block-text
                                p.sales__text -Говядина
                                p.sales__text -Жир говяжий
                                p.sales__text -Специи
                            .sales__info
                                p.sales__info-text 400гр
                                p.sales__info-text 300сут
                .slide-wrap
                    li.glide__slide
                        .sales-img
                            img(src="../img/sales/sales1.png")
                        .sales__block
                            h5.sales__title Сервелат по-татарски
                            .sales__block-text
                                p.sales__text -Говядина
                                p.sales__text -Жир говяжий
                                p.sales__text -Специи
                            .sales__info
                                p.sales__info-text 400гр
                                p.sales__info-text 300сут
                .slide-wrap
                    li.glide__slide
                        .sales-img
                            img(src="../img/sales/sales2.png")
                        .sales__block
                            h5.sales__title Сервелат по-татарски
                            .sales__block-text
                                p.sales__text -Говядина
                                p.sales__text -Жир говяжий
                                p.sales__text -Специи
                            .sales__info
                                p.sales__info-text 400гр
                                p.sales__info-text 300сут
                .slide-wrap
                    li.glide__slide
                        .sales-img
                            img(src="../img/sales/sales2.png")
                        .sales__block
                            h5.sales__title Сервелат по-татарски
                            .sales__block-text
                                p.sales__text -Говядина
                                p.sales__text -Жир говяжий
                                p.sales__text -Специи
                            .sales__info
                                p.sales__info-text 400гр
                                p.sales__info-text 300сут
        .glide__arrows(data-glide-el="controls")
            button.glide__arrow.glide__arrow--left(data-glide-dir="<") prev
            button.glide__arrow.glide__arrow--right(data-glide-dir=">") next
