.footer-col-third
    h6.footer-col-title.third-title Онлайн сервисы
    .footer-third-item
        svg(class="social__icon")
            use(xlink:href="img/icons/sprite.svg#mail")
        a(href="#") halalfood@mail.com
    .footer-third-item
        svg(class="social__icon-insta")
            use(xlink:href="img/icons/sprite.svg#insta")
        a(href="#") Instagram
    .footer-third-item
        svg(class="social__icon")
            use(xlink:href="img/icons/sprite.svg#fb")
        a(href="#") Facebook