.products__inner
    a(href="#" class="products__item") 
        .products__photo
            img(src="../img/products/products.jpg" class="products-img" width="640" height="187")
            p.products__text Колбасные изделия
    a(href="#" class="products__item") 
        .products__photo
            img(src="../img/products/products2.jpg" class="products-img" width="640" height="187")
            p.products__text Деликатесы     
    a(href="#" class="products__item") 
        .products__photo
            img(src="../img/products/products3.jpg" class="products-img" width="640" height="187")
            p.products__text Сырокопченая продукция