.intro__inner
    .container
        img(src='../img/intro/intro-img.png').img-intro
        .intro__info
            h3.intro__title Производство 
                p и оптовая продажа 
                p колбасной продукции
            p.intro__subtitle Колбасная продукция Дуслык Ихляс и Теммиз
        .intro__btns
            button(type="button" class="btn btn-filled") Узнать подробнее
            button(type="button" class="btn btn-unfilled") Cмотреть продукцию