.wrapper
  .select_wrap
    ul.default_option
      li
        .option.first
          p Симферополь
    ul.select_ul
      li
        .option.first
          p Симферополь
      li
        .option.second
          p Ялта
      li
        .option.third
          p Керчь
      li
        .option.fourths
          p Бахчисарай
      li
        .option.first
          p Севастополь