.footer-col-fourth
    .footer-col-fourth-top
        h6.footer-col-title.fourth-title Телефон
        .footer-third-item
            svg(class="social__icon")
                use(xlink:href="img/icons/sprite.svg#call")
            a(href="#") +7 978 777 77 77
    .footer-col-fourth-bottom
        h6.footer-col-title.col-title Адрес
        .footer-third-item
            svg(class="social__icon")
                use(xlink:href="img/icons/sprite.svg#map")
            a(href="#") г.Симферополь, ул. Севастопольская 57А