.footer-col-second
    h6.footer-col-title Навигация
    .footer-sec-inner
        ul.footer-second-list
            li.footer-second-item   
                a(href="#").footer-second-link Главная 
            li.footer-second-item   
                a(href="#").footer-second-link Продукция 
            li.footer-second-item   
                a(href="#").footer-second-link Производство 
        ul.footer-second-list
            li.footer-second-item   
                a(href="#").footer-second-link О компании
            li.footer-second-item   
                a(href="#").footer-second-link Где купить 
            li.footer-second-item   
                a(href="#").footer-second-link Контакты