h5.features__title Почему выбирают нас?
.features__content
    .features__inner 
        .features__items
            .features__items-title Широкий ассортимент
            .features__items-text  Более 500 наименований продукции из говядины, индейки и курицы. Наш ассортимент — класические продукты ГОСТ и собственные разработки компании.
        .features__items
            .features__items-title Всегда рядом
            .features__items-text Нашу продукцию легко найти и в крупных сетевых магазинах, и в традиционной рознице, и, конечно, в фирменной сети магазинов.
    .features__img
        img(src="../img/icons/two.svg" class="feat-img")
        img(src="../img/icons/one.svg" class="feat-img2")
        img(src="../img/icons/circle.svg" class="feat-img3")
    .features__inner 
        .features__items
            .features__items-title.features-title-right Полный цикл производства
            .features__items-text.features-text-right  Мы — часть агропромышленного холдинга РУСКОМ, поэтому уверены в каждом этапе пути к правильному продукту «от поля до прилавка»
        .features__items
            .features__items-title.features-title-right  Технология “Халяль”
            .features__items-text.features-text-right Мясные продукты Халяль не содержат свинины и ее компонентов. Забой животных осуществляется в соответствии с нормами Ислама
